.header-section{
  background-color: #fff;
  width: 100%;
  position: absolute;
  top:1px
}
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 60px;
  border: 1px solid;
  border-color:#dfdbd2;
}
.logo-image{
  max-width: 160px;
  max-height: 86px;
}
.user-section{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 20%;
  background-color: #fff;
  border: 1px;
}
.user-image{
  max-width: 80px;
  max-height: 70px;
}
.name{
  font-size: 18px;
}
